
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/src/Repository/TestRepository.php
/src/Entity/Test.php
/src/Controller/TestController.php
/migrations/.gitignore
src/Repository/.gitignore
src/Entity/.gitignore
src/ApiResource/
.idea/
###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
